@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

body {
    background: rgb(31, 30, 32);
    font-family: 'Roboto Slab', serif;
    
}

header {
    color: white;
    text-align: center;
    font: normal 12pt;
    border-radius: 10px;
    padding: 15px;
    width: 1024px;
    margin: auto;

}

section {
    margin: auto;
    width: 1024px;
    height: 600px;

}

div{     
    background: white;
    border-radius: 10px;
    margin: auto;

}

div#puzzle {
    text-align: center;
    padding: 15px;
    width: 500px;
    margin-left: 0px;
    float: left;  
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
}

div#input {
    text-align: center;
    font-size: 20pt;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: auto;
    float: right;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);

}

div#resposta{
    margin: 30px;
}

div#dica{
    text-align: center;
    font-size: 10pt;
    line-height: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 390px;
    margin-top: 10px;
    float: right;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
}

.caixa#lance {
    background-color: rgb(52, 52, 53);
    color: white;
    height: 16px;
    margin-bottom: 20px;
    padding: 1px;
    width: 50px;
}

.button {
    background-color: rgb(31, 30, 32);
    font-family: 'Roboto Slab', serif;
    border: 12p;
    color: white;
    text-align: center;
    font-size: 14px;
}

footer {
    margin: auto;
    color: white;
    text-align: center;
    font-style: italic;
}

